@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #0CDC2A;
  --header-bg: #3c5e24;
  --accent: #0b735f;
  --accent-bg: #639D75;
  --accent-border: #384166;
  --social-bg: #e3dba9;
  --highlight: #6c3d12;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Inter', 'Segoe UI', Roboto, sans-serif;
  --lilita: 'Lilita One', 'Inter';
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #fff;
    --header-bg: #3c5e24;
    --border: #2e303a;
    --code-bg: #0CDC2A;
    --accent: #0b735f;
    --accent-bg: #639D75;
    --accent-border: #384166;
    --highlight: #6c3d12;
    --social-bg: #e3dba9;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  margin: 0;
}

.bg-accent {
  background-color: var(--accent);
}

.bg-highlight {
  background-color: var(--accent-bg);
}

.bg-spot {
  background-color: var(--highlight);
}

.bg-social {
  background-color: var(--social-bg);
}

.bg-header {
  background-color: var(--header-bg);
}

.text-default {
  color: var(--text);
}

.review-card {
  .content {
    text-align: justify;
  }
}

.banner-text {
  color: var(--highlight);
}

.text-lilita {
  font-family: var(--lilita);
}

.justify-table {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  .text-footer {
    color: black;
  }

  .footer-title {
    font-weight: bold;
    font-size: larger;
  }

  .footer-text {
    font-weight: normal;
    font-size: medium;
  }
}